<mat-icon class="icon">
  search
</mat-icon>


<mat-toolbar color="warn" class="navbar">
  <div>
    <mat-sidenav-container>
      <mat-sidenav mode="over" [(opened)]="opened">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="opened=!opened">Menue</button> 
      </mat-sidenav-content>
    
    </mat-sidenav-container>
  </div>
  <div>
    Event Cooker
  </div>
  
<div>
  <span><a mat-button href="http://localhost:4200/" target="_blank">Home</a></span>
  <span>About</span>
  <span>Services</span>
</div>


</mat-toolbar>

<marquee class="open"> Service Open </marquee>

